.navbar {
  background: var(--main)!important;
}

.navbar .navbar-brand,
.navbar a,
.navbar .navbar-text {
  color: #fff !important;
  text-decoration: none;
}

.login-card {
  max-width: 380px;
  margin: auto;
  margin-top: 10vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
}

.section-title {
  background: var(--main);
  color: #fff;
  padding: .5rem .75rem;
  border-radius: .5rem;
}

.card-header {
  background: var(--main);
  color: #fff;
  font-weight: 500;
}

.table thead th {
  background: #f0f3f8;
  position: sticky;
  top: 0;
}

.menu-active {
  color: #fff !important;
  background: var(--main) !important;
  border-color: var(--main) !important;
}

.menu{
  color: black;
  background-color: white;
}

.list-group-item.active{
  color: white !important;
  background: var(--main-opaque) !important;
  border-color: var(--main-opaque) !important;
}

.muted-note {
  font-size: 12px;
  color: #6c757d
}